.red-square {
  width: 80px;
  height: 80px;
  color: #fff;
  padding: 20px;
  margin: 10px;
  font-size: 14px;
  background-color: rgba(255, 0, 0, 0.4);
  display: inline-block;
}

.lorem-ipsum-paragraph {
  font-style: italic;
  color: blue;
}
#special-paragraph {
  color: red;
}
